/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-black: #181818;
  --vt-c-indigo: #2c3e50;
  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-dark-1: var(--vt-c-white);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-black);
  --color-text: var(--vt-c-text-dark-1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  color: var(--color-text);
  background-color: var(--color-background);

  font-family: Roboto, Oxygen, Ubuntu, "Droid Sans", sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  animation: rotateHue 25s linear infinite;
}

@keyframes rotateHue {
  100% {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}
